@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
   font-family: 'Ubuntu', sans-serif;
}





body{
  background-color: rgb(57, 57, 57);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

/*header*/
header > nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem;
}

header > nav > ul{
  list-style: none;
  display: flex;
}
header>nav>ul >li>a,
header > nav > a{
  margin-left: 5rem;
  margin-right: 5rem;
  color:azure ;
  text-decoration: none;
  text-transform: uppercase; 
  padding: 1rem;
  transition: 500ms;
}
ul>li>a:hover{
  border-radius: 60px;
  border-bottom: solid 2px red;
}

@media (max-width: 1000px){
  header > nav > ul{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  header > nav > ul > li{
    margin: 10px 10px;
    justify-content: center;
    display: flex;
  }

  header > nav{
    display: flex;
    flex-direction: column;
  }

  .one{
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .one > article{
    margin-bottom: 50px;
  }

  #sayfa-resmi{
    width: 500px;
  }
}





.wrap {
  overflow: hidden;
  margin: 10px;
}
.box {
  float: left;
  position: relative;
  width: 20%;
  padding-bottom: 20%;
}
.boxInner {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  overflow: hidden;
}
.boxInner img {
  width: 100%;
}
.boxInner .titleBox {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: -50px;
  background: #fff;
  background: rgba(0, 0, 0, 0.5);
  color: #FFF;
  padding: 10px;
  text-align: center;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
section.no-touch .boxInner:hover .titleBox, section.touch .boxInner.touchFocus .titleBox {
  margin-bottom: 0;
}
@media only screen and (max-width : 480px) {
  /* Smartphone view: 1 tile */
  .box {
    width: 100%;
    padding-bottom: 100%;
  }
}
@media only screen and (max-width : 650px) and (min-width : 481px) {
  /* Tablet view: 2 tiles */
  .box {
    width: 50%;
    padding-bottom: 50%;
  }
}
@media only screen and (max-width : 1050px) and (min-width : 651px) {
  /* Small desktop / ipad view: 3 tiles */
  .box {
    width: 33.3%;
    padding-bottom: 33.3%;
  }
}
@media only screen and (max-width : 1290px) and (min-width : 1051px) {
  /* Medium desktop: 4 tiles */
  .box {
    width: 25%;
    padding-bottom: 25%;
  }
}


/*footer bölümü*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
*{
  padding:0%;
  margin:0%;
  box-sizing: border-box;
}

.hero {
  height: auto;
  background: url("https://images.unsplash.com/photo-1565461133566-e35e9e120d5f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80")
    left bottom no-repeat;
  background-color: rgb(57, 57, 57);
  background-size: cover;
  background-blend-mode: multiply;
   /* background-attachment:fixed ;
    activate when you put in your website (optional)
  */
  color: rgb(255, 255, 255);
  padding: 30px 80px 30px 30px;
}
.hero .container{
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 1;
}
.flex{
  display: flex;
}
.container__about{
  margin-bottom: 30px;
}

.container__about p{
  margin-top: 10px;
  max-width: 300px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
}

.container-pages{
  column-gap: 30px;
}

.container-pages ul{
  padding-top: 10px;
  list-style: none;
  line-height: 24px;
}
.container-pages ul a{
  color: inherit;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
}
.container-pages ul a:hover{
  color: #017143;
}
footer .by{
margin-top: 30px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
footer .by p{
  color: rgba(255, 255, 255, 0.605);
  font-size: 14px;
}
.line__separete{
  margin-top: 30px;
  width: 100%;
  height: 2px;
  background-color: #fff;
  z-index: 999;
}
.icons {
  margin-top: 20px;
  display: flex;
  column-gap: 25px;
  
}

.icon1 {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  border-radius: 50%;
  outline: 2px solid #fff;
  transition-property:
      outline-offset, outline-color,
      background-color;
  transition-duration: .25s;
}

.icon1:hover {
  outline-offset: 4px;
}

.icon1:hover i {
  animation: shake .25s;
}

.icon--instagram:hover {
  background-image: radial-gradient(circle at 30% 107%,
          #fdf497 0%, #fdf497 5%,
          #fd5949 45%, #d6249f 60%,
          #285AEB 90%);
  outline-color: #a02d76;
}

.icon--twitter:hover {
  background-color: #1da1f2;
  outline-color: #1da1f2;
}

.icon--linkedin:hover {
  background-color: #0077b5;
  outline-color: #0077b5;
}

.icon--github:hover {
  background-color: #000000;
  outline-color: #000000;
}

@keyframes shake {
  10% {
      transform: rotate(15deg);
  }

  20% {
      transform: rotate(-15deg);
  }

  30% {
      transform: rotate(15deg);
  }

  40% {
      transform: rotate(-15deg);
  }
}

@media only screen and (max-width: 800px) {
  .hero{
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  .container__about h2{
    font-size: 20px;
  }
  .container__about p{
    font-size: 12px;
  }
  .container__recentpages h2{
    font-size: 20px;
  }
  .container-pages ul a{
    font-size: 12px;
  }
  footer .by p{
    font-size: 12px;
  }
} 
