@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700;800&family=Lora:wght@400;500;600&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  font-family: "poppins", sans-serif;
}



/*header*/
header > nav{
    display: flex;
    flex-direction: row;
   align-items: center;
    justify-content: space-between;
    margin: 1.5rem;
    margin-bottom: 400px;
  }
  
  header > nav > ul{
    list-style: none;
    display: flex;
  }
  header>nav>ul >li>a,
  header > nav > a{
    
    margin-left: 5rem;
    margin-right: 5rem;
    color:azure ;
    text-decoration: none;
    text-transform: uppercase; 
  }
  ul>li>a:hover{
    background-color: red;
    border-radius: 60px;
    padding: 0.5rem;
  }

 




    
  @import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500&display=swap");




  :root {
    --primary: rgb(57, 57, 57);
    --primary-dark: red;
    --secondary-lime: red;
    --secondary-lavender: red;
    --primary-box-shadow: -7px -7px 20px 0px red, -4px -4px 5px 0px red,
      7px 7px 20px 0px red, 4px 4px 5px 0px red, inset 0px 0px 0px 0px red,
      inset 0px 0px 0px 0px red, inset 0px 0px 0px 0px red,
      inset 0px 0px 0px 0px red;
    --secondary-box-shadow: 4px 4px 6px 0 red,
      -4px -4px 6px 0 red,
      inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
      inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
    --font: "Nunito Sans", sans-serif;
  }
  
  body {
    background: var(--primary);
    display: grid;
    place-items: center;
    height: 100vh;
    font-family: "Nunito Sans", sans-serif;
  }
  form {
    margin-bottom: 500px;
    display: flex;
    flex-direction: column;
    padding-block: 24px;
    border-radius: 20px;
    background: rgb(57, 57, 57);
    box-shadow: var(--primary-box-shadow);
    height: 360px;
    width: 300px;
    justify-content: space-between;
    align-items: center;
  }
  
  input {
    border: none;
    height: 32px;
    border-radius: 10px;
    background: linear-gradient(145deg, #f1f4fa, #cbcdd3);
    outline: none;
    font-family: "Nunito Sans", sans-serif;
  }
  
  input[type="text"],
  input[type="password"] {
    box-shadow: var(--secondary-box-shadow);
    padding-inline: 20px;
    height: 49px;
    width: 60%;
  }
  input[type="submit"] {
    box-shadow: var(--primary-box-shadow);
    cursor: pointer;
    font-weight: 800;
    letter-spacing: 0.8px;
    height: 50px;
    font-size: 1rem;
    color: gray;
    position: relative;
    z-index: 100;
    width: 100%;
  }
  #title {
    color: #5a5a5a;
    font-weight: 800;
    font-size: 1.1rem;
    line-height: 1;
    letter-spacing: 0.8px;
  }
  #linksParent {
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: center;
  }
  #linksParent > a {
    font-family: "Nunito Sans", sans-serif;
    font-size: 0.8rem;
    color: rgb(233, 233, 233);
    text-decoration: underline;
    cursor: pointer;
  }
  
  .rip1,
  .rip2 {
    filter: blur(1px);
    width: 100%;
    position: absolute;
    height: 50px;
    left: 0;
    bottom: 0;
  }
  .rip1 {
    box-shadow: 0.4rem 0.4rem 0.8rem #c8d0e7, -0.4rem -0.4rem 0.8rem #fff;
    background: linear-gradient(to bottom right, #fff 0%, #c8d0e7 100%);
    animation: waves 2s linear infinite;
  }
  .rip2 {
    box-shadow: 0.4rem 0.4rem 0.8rem #c8d0e7, -0.4rem -0.4rem 0.8rem #fff;
    animation: waves 2s linear 1s infinite;
  }
  
  @keyframes waves {
    0% {
      transform: scale(0.7);
      opacity: 1;
      border-radius: 10px;
    }
  
    50% {
      opacity: 1;
      border-radius: 15px;
    }
  
    100% {
      transform: scale(2);
      opacity: 0;
      border-radius: 20px;
    }
  }
  #button {
    width: 40%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  












  