

.resmm{
    height: auto;
    width: 45%;
}




/*header*/
header > nav{
    display: flex;
    flex-direction: row;
   align-items: center;
    justify-content: space-between;
    margin: 1.5rem;
  }
  
  header > nav > ul{
    list-style: none;
    display: flex;
  }
  header>nav>ul >li>a,
  header > nav > a{
    
    margin-left: 5rem;
    margin-right: 5rem;
    color:azure ;
    text-decoration: none;
    text-transform: uppercase; 
  }
  ul>li>a:hover{
    background-color: red;
    border-radius: 60px;
    padding: 0.5rem;
  }
  


main{
    margin-left: 5rem;
    margin-right: 5rem;
    color:azure ;
    text-decoration: none;
    text-transform: uppercase; 
    padding: 1rem;
}


body{
    background-color: rgb(57, 57, 57);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}




/*footer bölümü*/
footer{
    background-color: rgb(57, 57, 57);
    color: rgb(235, 235, 235);
    margin: 1.5rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding:1rem;
  }
  
  .up{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left:20rem ;
    margin-right:5rem;
  }
  
  
  
  
  .down{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
  
  