
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
   font-family: 'Ubuntu', sans-serif;
}





body{
  background-color: rgb(57, 57, 57);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

/*header*/
header > nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem;
}

header > nav > ul{
  list-style: none;
  display: flex;
}
header>nav>ul >li>a,
header > nav > a{
  
  margin-left: 5rem;
  margin-right: 5rem;
  color:azure ;
  text-decoration: none;
  text-transform: uppercase; 
  padding: 1rem;
  transition: 500ms;
}
ul>li>a:hover{
  border-radius: 60px;
  border-bottom: solid 2px red;
}

@media (max-width: 1000px){
  header > nav > ul{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  header > nav > ul > li{
    margin: 10px 10px;
    justify-content: center;
    display: flex;
  }

  header > nav{
    display: flex;
    flex-direction: column;
  }

  .one{
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .one > article{
    margin-bottom: 50px;
  }

  #sayfa-resmi{
    width: 500px;
  }
}

form{
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


body {
  font-family: "Inter", sans-serif;
  background-color:rgb(85, 83, 83);
}
.formbold-mb-5 {
  margin-bottom: 20px;
}
.formbold-pt-3 {
  padding-top: 12px;
}
.formbold-main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px;
}

.formbold-form-wrapper {
  margin: 0 auto;
  max-width: 550px;
  width: 100%;
  background: rgb(85, 83, 83);
}
.formbold-form-label {
  display: block;
  font-weight: 500;
  font-size: 16px;
  color: azure;
  text-align: center;
  margin-bottom: 12px;
}
.formbold-form-label-2 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}

.formbold-form-input {
  width: 100%;
  padding: 12px 24px;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
  background: lightgray;
  font-weight: 500;
  font-size: 16px;
  outline: none;
  text-align: center;
  resize: none;
}
.formbold-form-input:focus {
  border-color: #ffffff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold-btn {
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
  padding: 14px 32px;
  border: none;
  font-weight: 600;
  background-color: rgb(196, 3, 3);
  color: rgb(228, 228, 228);
  cursor: pointer;
}
.formbold-btn:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold--mx-3 {
  margin-left: -12px;
  margin-right: -12px;
}
.formbold-px-3 {
  padding-left: 12px;
  padding-right: 12px;
}
.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.w-full {
  width: 100%;
}
@media (min-width: 540px) {
  .sm\:w-half {
    width: 50%;
  }
}