@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
   font-family: 'Ubuntu', sans-serif;
}

body{
  background-color: rgb(57, 57, 57);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  
}

/*header*/
header > nav{
  display: flex;
  flex-direction: row;
 align-items: center;
  justify-content: space-between;
  margin: 1.5rem;
}

@media (max-width: 1000px){
  header > nav > ul{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  header > nav > ul > li{
    margin: 10px 10px;
    justify-content: center;
    display: flex;
  }

  header > nav{
    display: flex;
    flex-direction: column;
  }

  .one{
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .one > article{
    margin-bottom: 50px;
  }

  #sayfa-resmi{
    width: 500px;
  }
}

header > nav > ul{
  list-style: none;
  display: flex;
}
header>nav>ul >li>a,
header > nav > a{
  
  margin-left: 5rem;
  margin-right: 5rem;
  color:azure ;
  text-decoration: none;
  text-transform: uppercase; 
}
ul>li>a:hover{
  background-color: red;
  border-radius: 60px;
  padding: 0.5rem;
}

/*main bölümü*/
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

main > section{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 5rem;
}
section > article > h2,
section > article> h4{color: azure;   margin-top: 2.5rem;}
section > article > h2{font-size: 60px; text-transform: uppercase;   margin-left: auto;}
section > article > h4{font-size: 30px; text-transform: uppercase;}
/*---*/
#sayfa-resmi{
  height: auto;
  width: 70%;
}

#motor-resmi{
  display: flex;
  flex-direction: row;
  width: 10%;
  height: auto;
}

/*alt kısım*/
.second{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin: 1rem;
}

@media (max-width: 600px){
  .second{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .second > article{
    height: 10vh;
    width: 100%;
  }
}

.second > article{
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: auto;
  background-color: rgba(71, 71, 71, 0.664);
  border-radius: 25px;
  padding: 2rem;  
}

#tit{
  text-transform: uppercase;
  color: azure;
  font-size: 250%;
}

#ciz{
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
  opacity: 0.5;
}

#yazi{
  display: flex;
  text-align: center;
  color: azure;
}

#res{
  width: 75%;
  object-fit: contain;
}

/*footer bölümü
*{
  padding:0%;
  margin:0%;
  box-sizing: border-box;
}
*/

.hero {
  height: auto;
  background: url("https://images.unsplash.com/photo-1565461133566-e35e9e120d5f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80")
  left bottom no-repeat;
  background-color: rgb(57, 57, 57);;
  background-size: cover;
  background-blend-mode: multiply;
   /* background-attachment:fixed ;
    activate when you put in your website (optional)
  */
  color: rgb(255, 255, 255);
  padding: 30px 80px 30px 30px;
}
.hero .container{
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 1;
}
.flex{
  display: flex;
}
.container__about{
  margin-bottom: 100px;
}

.container__about p{
  margin-top: 10px;
  max-width: 300px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
}

.container-pages{
  column-gap: 30px;
}

.container-pages ul{
  padding-top: 10px;
  list-style: none;
  line-height: 24px;
}
.container-pages ul a{
  color: inherit;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
}
.container-pages ul a:hover{
  color: #017143;
}
footer .by{
margin-top: 50px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
footer .by p{
  color: rgba(255, 255, 255, 0.605);
  font-size: 14px;
}
.line__separete{
  margin-top: 30px;
  width: 100%;
  height: 2px;
  background-color: #fff;
  z-index: 999;
}
.icons {
  margin-top: 20px;
  display: flex;
  column-gap: 25px;
  
}

.icon1 {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  border-radius: 50%;
  outline: 2px solid #fff;
  transition-property:
      outline-offset, outline-color,
      background-color;
  transition-duration: .25s;
}

.icon1:hover {
  outline-offset: 4px;
}

.icon1:hover i {
  animation: shake .25s;
}

.icon--instagram:hover {
  background-image: radial-gradient(circle at 30% 107%,
          #fdf497 0%, #fdf497 5%,
          #fd5949 45%, #d6249f 60%,
          #285AEB 90%);
  outline-color: #a02d76;
}

.icon--twitter:hover {
  background-color: #1da1f2;
  outline-color: #1da1f2;
}

.icon--linkedin:hover {
  background-color: #0077b5;
  outline-color: #0077b5;
}

.icon--github:hover {
  background-color: #000000;
  outline-color: #000000;
}

@keyframes shake {
  10% {
      transform: rotate(15deg);
  }

  20% {
      transform: rotate(-15deg);
  }

  30% {
      transform: rotate(15deg);
  }

  40% {
      transform: rotate(-15deg);
  }
}

@media only screen and (max-width: 800px) {
  .hero{
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  .container__about h2{
    font-size: 20px;
  }
  .container__about p{
    font-size: 12px;
  }
  .container__recentpages h2{
    font-size: 20px;
  }
  .container-pages ul a{
    font-size: 12px;
  }
  footer .by p{
    font-size: 12px;
  }
} 

@media (max-width: 600px){
  main{
    display: flex;
    flex-direction: column;
  }
  
  footer{
    display: flex;
    flex-direction: column;
  }

}