@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
   font-family: 'Ubuntu', sans-serif;
}





body{
  background-image: url(imgs/arka\ plan\ .jpg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

/*header*/
header > nav{
  display: flex;
  flex-direction: row;
 align-items: center;
  justify-content: space-between;
  margin: 1.5rem;
}

header > nav > ul{
  list-style: none;
  display: flex;
}
header>nav>ul >li>a,
header > nav > a{
  
  margin-left: 5rem;
  margin-right: 5rem;
  color:azure ;
  text-decoration: none;
  text-transform: uppercase; 
}

nav li a:hover{
  background: var(--red);
}





/*main bölümü*/

main > section{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 5rem;
}
section > article > h2,
section > article> h4{color: azure;   margin-top: 2.5rem;}
section > article > h2{font-size: 60px; text-transform: uppercase;   margin-left: auto;}
section > article > h4{font-size: 30px; text-transform: uppercase;}
/*---*/
#sayfa-resmi{
  height: auto;
  width: 45%;
}

#motor-resmi{
  display: flex;
  flex-direction: row;
  width: 10%;
  height: auto;
}

/*footer bölümü*/
footer{
  background-color: black;
  color: azure;
}

.up{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.down{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  
}