@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
   font-family: 'Ubuntu', sans-serif;
}
body{
  background-color: #323232;
}

/*header*/
header > nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1.5rem;
}

header > nav > ul{
  list-style: none;
  display: flex;
}
header>nav>ul >li>a,
header > nav > a{
  
  margin-left: 5rem;
  margin-right: 5rem;
  color:azure ;
  text-decoration: none;
  text-transform: uppercase; 
}

nav li a:hover{
  background: var(--red);
}





/*main bölümü*/

main > section{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5rem;
  align-items: center;
}

section > article > h2,
section > article> h4{color: azure;}
section > article > h2{font-size: 60px; text-transform: uppercase;}
section > article > h4{font-size: 30px; text-transform: uppercase;}
/*---*/
#sayfa-resmi{
  height: auto;
  width: 45%;
}





/*footer bölümü*/

 footer{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   margin: 1.5rem;
   position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
 }

 footer > ul{
  list-style: none;
  display: flex;
}



 footer > ul > li >a{
   margin-left: 5rem;
   margin-right: 5rem;
   color: azure;
   text-decoration: none;
   text-transform: uppercase;
 } 
 
